<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글쓰기</title>
<style>
.align-left { text-align: left; }
.align-center { text-align: center; } 
.align-right { text-align: right; } 
.align-justify { text-align: justify; }
.back1 {background-color:black}
.write {
            color:whitesmoke;
        }


</style>
</head>
<body>
    <div class="back1">
    <div class="align-center">
    <div class="write"><h1>B-LOG</h1></div>div class="write">
    <form action="{% url 'create' %}">
    <input type="text" name="title">
    <br>
    <textarea name="body" id="" cols="120" rows="30"></textarea>
    <br>
    <input type="submit" value="글 저장!">
    <a href="{% url 'home' %}"><button>취소하기</button></a>
    </form>
    </div class="align-center">
    </div class="back1">
    
</body>
</html>